<app-search
  placeholder="Search brand"
  (searchEvent)="onSearch($event)"
></app-search>
<ul>
  @for (brand of brands(); track brand.make) {
    <li
      (click)="select(brand.make)"
      [class.selected]="selected === brand.make"
    >
      {{ brand.make }}
      <div class="brandLogo">
        @if (brand.errorImg) {
          <h1 class="brandName">{{ brand.make }}</h1>
        } @else {
          <img
            src="img/brands/{{ brand.make.toLowerCase().split(' ')[0] }}.webp"
            alt="{{brand.make}}"
            (error)="brand.errorImg = true"
          />
        }
      </div>
    </li>
  }
</ul>
