:host {
  height: 100vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  border-inline-start: 2px solid #00000033;
  border-inline-end: 2px solid #00000033;
  position: relative;
}

@media (orientation: portrait) {
  :host {
    width: 100vw;
  }
}

ul {
  margin: 0;
  padding: 0;
  overflow: auto;
  list-style: none;

  li {
    padding: 0.5rem 2rem;
    border-bottom: 2px solid #00000033;
    text-overflow: ellipsis;
    white-space: nowrap;
    .brandLogo {
      position: fixed;
      z-index: 10;
      left: calc(20vw + 5px);
      top: 0;
      width: 80vw;
      height: 100vh;
      display: none;
      h1 {
        font-family: "Times New Roman", Times, serif;
        letter-spacing: 0.4rem;
        display: none;
        color: var(--text-color);
      }
      img {
        display: none;
        max-height: 240px;
        max-width: 240px;
        width: auto;
      }
      &:hover {
        display: none !important;
      }
    }
    &:hover .brandLogo {
      @media (orientation: landscape) {
        display: flex;
      }
      align-content: center;
      justify-content: center;
      align-items: center;
      background: var(--background-color);
      img,
      h1 {
        display: block;
        animation: fadeIn 2.5s ease-out;
      }
    }
    &.selected .brandLogo {
      display: none;
    }
    &:first-child {
      border-top: 2px solid #00000033;
      margin-top: 5rem;
    }
    &:hover,
    &.selected {
      background-color: #ff9301;
      cursor: pointer;
      color: var(--background-color);
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
