/* You can add global styles to this file, and also import other style files */
:root {
  --background-color: #1f1f1f;
  --text-color: #cecece;
  --selected: #ff9301;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: var(--background-color);
  color: var(--text-color);
}
