<ul>
  @for (group of models(); track group.year) {
    <div class="year" #modelsRef>{{ group.year }}</div>
    <div class="yearModels">
      @for (model of group.models; track model.model) {
        <li>
          <img
            [src]="model.img.src | async"
            (load)="imgLoaded(model)"
            alt="{{ model.model }}"
            [class.hidden]="!model.img.loaded"
          />
          <img
            src="img/loadingModel.webp"
            alt="Cargando..."
            class="loading"
            [class.hidden]="model.img.loaded"
          />
          <span>{{ model.model }}</span>
        </li>
      }
    </div>
  }
</ul>
